# Public
NEXT_PUBLIC_SITE_URL=https://example.com

# Cloudflare R2
R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
R2_DOMAIN=https://assets.example.com
R2_BUCKET=my-bucket
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
